@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

#cabecalho{
    background-color: rgba(233, 150, 122, 0.774);
    color: white;
    
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 160px;
    width: 160px;
}
#menu{
    height: 75px;
    background-color: rgba(233, 150, 122, 0.774);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Atma", system-ui;
    font-size: 25px;
    font-weight: bold;
    color: rgb(4, 23, 41);
}

.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  #menu a{
    text-decoration: none;
  }
  #menu a:hover{
    color: black;
  }
  #conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;

  }